html {
    scroll-behavior: smooth;
}
body {
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

span {
    color: #000000;
}
/* FORM */
form {
    background-color: blueviolet;
    background: linear-gradient(direction, purple, red, blue);
    position: relative;
    text-align: left;
    margin-left: 16vw;
    padding: 5vh 0 10vh 10vw;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    width: 70vw;
}
form div {
    margin-bottom: 1.2vh;
}
form input, form select {
    border-radius: 7px;
    border: 0;
    width: 90%;
}
form input.submit {
    width: 20%;
    background: #0048ff;
    background-image: -webkit-linear-gradient(top, #0048ff, #392bb8);
    background-image: -moz-linear-gradient(top, #0048ff, #392bb8);
    background-image: -ms-linear-gradient(top, #0048ff, #392bb8);
    background-image: -o-linear-gradient(top, #0048ff, #392bb8);
    background-image: linear-gradient(to bottom, #0048ff, #392bb8);
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border: 0;
    position: absolute;
    left: 40%;
    bottom: 5%;
  }
  
  .submit:hover {
    background: #ff00ff;
    background-image: -webkit-linear-gradient(top, #ff00ff, #392bb8);
    background-image: -moz-linear-gradient(top, #ff00ff, #392bb8);
    background-image: -ms-linear-gradient(top, #ff00ff, #392bb8);
    background-image: -o-linear-gradient(top, #ff00ff, #392bb8);
    background-image: linear-gradient(to bottom, #ff00ff, #392bb8);
    text-decoration: none;
  }
